.form-wrapper {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  gap: 2rem;

  border-radius: 1rem;
  background: #F5F5F5;
}

.titulo {
  font: var(--mat-sys-headline-large);
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.campos-lugares {
  display: flex;
  align-items: center;
}

.campo-origem,
.botao-trocar {
  margin-right: 0.5rem;
}

.botao-trocar,
.botao-buscar {
  margin-bottom: 1.25rem;
}

.campo-destino {
  margin-right: 1.5rem;
}