<section class="form-wrapper">
  <h2 class="titulo">Passagens</h2>

  <form>
    <mat-button-toggle-group name="trajeto" aria-label="Trajeto">
      <mat-button-toggle value="ida-e-volta">Ida e volta</mat-button-toggle>
      <mat-button-toggle value="somente-ida">Somente ida</mat-button-toggle>
    </mat-button-toggle-group>

    <div class="campos-lugares">
      <mat-form-field class="campo-origem" appearance="outline">
        <mat-icon matPrefix>flight_takeoff</mat-icon>

        <mat-label>Origem</mat-label>
        <input matInput>

        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <button
        mat-icon-button
        matTooltip="Trocar origem e destino"
        class="botao-trocar"
        type="button"
        aria-label="Trocar origem e destino"
      >
        <mat-icon>sync_alt</mat-icon>
      </button>

      <mat-form-field class="campo-destino" appearance="outline">
        <mat-icon matPrefix>flight_land</mat-icon>

        <mat-label>Destino</mat-label>
        <input matInput>

        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <button mat-flat-button class="botao-buscar">Buscar</button>
    </div>
  </form>
</section>
