* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
select,
input,
textarea {
  font: inherit;
  color: inherit;
}

button {
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}