
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './theme-colors' as tema;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: tema.$primary-palette,
      tertiary: tema.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}@import "./reset.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
